#heading {
    border-radius: 10px;
    background: lighten(#ddd, 5%);
    @include media-breakpoint-down(md) {
        border-radius: 15px;
    }
}
.content {
    padding : 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    overflow: hidden;
    width: 100%;
  
    .info, .illustration {
       width: 50%;
       display: flex;
       justify-content: center;
       align-items : center;
    }

    .info {
        flex-direction: column;
    }

    p {
        text-align: justify;
        width: 90%;
    }
    img {
        border-radius: 50%;
        width: 60%;
    
    } 
    @include media-breakpoint-down(md) {
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p  {
            width: 100%;
        }
        img {
            order : 1;
        }
    
        text-align: center;
    }
}