.project {
    margin-block: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    div {
        margin-left: clamp(24px, 50px, 80px);
        @include media-breakpoint-down(md) {
            margin-inline: 12px;
        }
    }

    .github, .live {
        border: solid 2px $primary;
        border-radius: 10px;
        width: 300px;
        height: 250px;
        padding: 10px;
        text-decoration: none;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    .github {
        margin-right: 12px;
    }
}