#projects {
    margin-top: 24px;
    box-shadow: 2px 2px 10px rgba($color: darken(#eee, 20%), $alpha: .5) ;
    @include media-breakpoint-down(md) {
        border-radius: 15px;
    }

    .content {
        display: grid;
        gap : 1rem;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        grid-template-rows: 60%;
        @include media-breakpoint-down(md) {
            grid-template-columns: calc(100% - 80px) ;
            place-content: center;
        }
     
    }
    
}
