html,body, #__nuxt, #__layout {
    height: 100%;
}
::selection { 
    background: $secondary;
    color: $white;
}

body {
    background-color: #eee;
}

.cc-window {
    text-align: center;

    @include media-breakpoint-down(sm) {
        margin: 15px;
    }
}