// imports

// Fonts


$spacer: 1rem !default;

//colors 
//$primary: #F1A8AC !default;
//$primary: #3F79AD !default;
$primary: #0764a165 !default;
$secondary: #3A90E2 !default;
$alternate: #A8F0D1 !default;
$white: #FFFFFF !default;

$heading-primary: #343637;
$text-primary: #777776;
$text-secondary: #A5ADB4;

$secondary-contrast: #1A5E9B !default;

$theme-colors: () !default;
$theme-colors: map-merge((
    "primary":      $primary,
    "primary-dark": darken($primary, 9%),
    "primary-light": lighten($primary, 9%),
    "secondary":    $secondary,
    "secondary-dark": darken($secondary, 9%),
    "secondary-light": lighten($secondary, 9%),
    "alternate":    $alternate,
    "alternate-dark": darken($alternate, 9%),
    "alternate-light": lighten($alternate, 9%),
    "text-primary": $text-primary,
    "text-secondary": $text-secondary,
    ), $theme-colors);
    

$navbar-nav-link-padding-x: 1rem !default;

